JSON -> SUBJECT_PLAYER | TIME

# typology (active or passive)
SUBJECT_PLAYER -> TYPE_0 | TYPE_1
TYPE_0 -> TYPE_0_ACTIVE
TYPE_0_ACTIVE -> Active_player Team_player Action_active_continue_ball
TYPE_1 -> TYPE_1_ACTIVE | TYPE_1_PASSIVE
TYPE_1_ACTIVE -> Active_player Team_player Action_active_ball Receiver_player Team_receiver
TYPE_1_PASSIVE -> Passive_player Team_receiver Action_passive_ball Does_player Team_player

# active zone
Active_player -> '{empty}' | '{player1}'
Receiver_player -> '{empty}' | '{player2}'

Action_active_continue_ball -> '{possession}'
Action_active_ball -> '{pass}' | '{intercept}'

# passive zone
Passive_player -> '{empty}' | '{player2}'
Does_player -> '{empty}' | '{player1}'

Action_passive_ball -> '{pass}' | '{intercept}'

# common
Team_player -> '{empty}' | '{team1}'
Team_receiver -> '{empty}' | '{team2}'