<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script type='text/javascript' src="{{url_for('static', filename="js/handler_map.js")}}"></script>
      <style>

#banner {
	height:2000px;
	width: 2000px;
  position:relative
}

#map {
	width: 1200px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
  position:absolute
}

svg {
	position: absolute;
	top: 0px;
	left: 0px;
	border: 2px solid;
}

circle{
  position: absolute;
	top: 0px;
	left: 0px;
}



      </style>
  </head>
  <body>
    <div id="banner">
      <object id="map"/>
    </div>
  </body>
</html>