<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body style="margin:8px">
    <div class="container-fluid bg-light">
        <div class="row">
            {% for key, value in data.items() %}
            <div class="col">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h2> {{ key }} </h2>
                    </div>
                </div>
                <div>
                    {% for v in value %}
                    <div class="card">
                        <div class="card-body">
                            {% for x,y in v.items() %}
                            <p>{{ x }} : {{ y }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>